.project {
  width: 100%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.project h1 {
  margin-top: 50px;
  color: #F3F3F4;
  font-size: 35px;
}
.project img {
  width: 700px;
  border-radius: 10px;
}

.project p {
  font-size: 30px;
  color: #F3F3F4;
}

.project svg {
  font-size: 60px;
  color: #F3F3F4;
}

@media only screen and (max-width: 600px) {

  .project h1 {
    font-size: 28px;
  }
  .project p {
    font-size: 15px;
  }
  .project img {
    width: 100%;
    border-radius: 10px;
  }

}